.page-content {
    ul {
        list-style-type: none;
        margin-left: 0px;
        h4{
            margin-bottom: 0px;
            font-weight: bold;
        }
    }

    ul li {
        border-bottom: 1px solid $grey-color-light;
    }

    ul li:last-child {
        border-bottom: none;
    }
}

.homepage-info {
    ul li {
        border-bottom: none;
    }
}
